* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid SeaShell;
  position: fixed;
  width: 100%;
  align-items: center;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

nav a {
  color: white;
  text-decoration: underline;
  margin-right: 10px;
}

.mission {
  background-image: url(../images/img-mission-background.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mission-section {
  background-color: black;
  width: 100%;
  height: 100px;
}

.mission h4 {
  margin-top: 25px;
}

.title {
  margin-top: 75px;
  margin-bottom: 25px;
}

.title h2 {
  margin-bottom: 25px;
}

.featured-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featured-images img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.locations {
  flex-direction: row;
  background-image: url(../images/img-locations-background.jpg);
  background-position: center;
  height: 500px;
  width: 1200px;
  align-items: center;
  justify-content: center;
}
